@* @page
@model HandsOnModel.Pages.BookModel
@{
}




<div>
    <form method="post">
    <table class="table">
        <tr>
            <td>ENTER BOOK ID</td>
            <td><input type="number" aps-for=@Model.B.Id</td>
        </tr>
        <tr>
            <td>ENTER BOOK NAME </td>
            <td><input type="text" aps-for=@Model.B.Name</td>
        </tr>

        <tr>
            <td>ENTER BOOK Price</td>
            <td><input type="number" aps-for=@Model.B.Price</td>
        </tr>

        <tr>
            <td>ENTER BOOK Languuage</td>
            <select value="LANGUAGES" asp-for=@Model.B.Language>
                <option >TELUGU</option>
                <option>ENGLISH</option>
                <option >TAMIL</option>
                <option>HINDI</option>
                <option>KANNADA</option>
            </select>
        </tr>
        <tr>
                <td>ENTER BOOK Author </td>
                <td><input type="text" aps-for=@Model.B.Author</td>
        </tr>

        <tr>
            <input type="submit" value="ADD" />
        </tr>


    </table>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>BOOK ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>LANGUAGE</th>
                <th>AUTHOR</th>

            </tr>
            </thead>


        @foreach (var i in Model.List)
                {
                    <tr>

                       <td>@i.Id</td>
                       <td>@i.Name</td>
                       <td>@i.Price</td>
                       <td>@i.Language</td>
                       <td>@i.Author</td>

                    </tr>

                }

    </table>

</div>
 *@