@model HandsOnModels.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    
        <pre>
                MovieId: @Model.MovieId
                Title: @Model.Title
                Actor: @Model.Actor
                Lang: @Model.Lang
                Director: @Model.Director
            </pre>
    
   
</div>
